/*======================= GENERAL =======================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style:none;
}
@font-face {
  font-family: "Lato Black";
  src: url('../fonts/Lato-Black.ttf'); 
}
@font-face {
  font-family: "Lato Bold";
  src: url('../fonts/Lato-Bold.ttf'); 
}
@font-face {
  font-family: "Lato Regular";
  src: url('../fonts/Lato-Regular.ttf'); 
}
body{
  font-family:"Lato Regular";
  width:100%;
  height:100vh;
  background:#343B41;
  margin:0;
  padding:0;
  color:#4a4a4a;
}

/*======================= MAIN CONTAINER =======================*/
.mainContainer.lightTheme{
  background:#343B41;
  width:80%;
  height:100vh;
  margin:0 auto;
}
/*=======================HEADER =======================*/
.header{
  padding-top:20px;
}

/*========= LAYOUT =========*/
.featureWrap:after{
  content: "";
  clear: both;
  display: table;
}
.featureWrap{
  width:100%;
  background:#343B41;
}
.feature{
  float:left;

}
.searchFeature{
  width:70%;
  position:relative;
}
/*========= FILTER FEATURE =========*/
.filterFeature, .themeFeature{
  width:15%;
  position:relative;
}
.filterFeature{
  margin-top:5px;
   z-index:0;
}
.filterFeature.active{
   z-index:1;
}
.filterFeature .mainFilterWrap{
  width: 200%;
  position:relative;
}
.filterFeature .mainFilterWrap:after{
  content: "";
  clear: both;
  display: table;
}
.filterFeature img{
  margin-left:20px;
  float:left;
  cursor:pointer;
  width:45px;
  height:45px;
  cursor:pointer;
}
.filterFeature ul{
  float:left;
  margin-top: 7px;
  left:15px;
  opacity:0;
  transition:all 0.5s ease;
  position:absolute;
   z-index:-1;
}
.filterFeature ul.active{
  left:65px;
  opacity:1;
  transition:all 0.5s ease;
  display:block;
   z-index:1;
}
.filterFeature ul li{
  background:#48AE4A;
  padding:15px 20px;
  border-bottom:solid 1px #343B41;
  font-family:"Lato Bold";
  color:#343B41;
  cursor:pointer;
}
.filterFeature ul li.active{
  color:#f1c40f;
}
/*========= THEME FEATURE =========*/
.themeFeature{
  margin-top:0px;
  z-index:0;
}
.themeFeature.active{
   z-index:1;
}
.themeFeature .mainThemeWrap{
    width: 200%;
    margin-left: -100%;
    position: relative;
}
.themeFeature .mainThemeWrap:after{
/*  content: "";
  clear: both;
  display: table;*/

}
.themeFeature img{
    margin-right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 12px;
}
.themeFeature ul{
  margin-top: 0;
  left: 75px;
  margin-right:20px;
  top:0;
  right: 0;
  opacity:0;
  transition:all 0.5s ease;
  position:absolute;
  z-index:-1;
  text-align:center;
}
.themeFeature ul.active{
    margin-top: 0;
    margin-right: 32px;
    left: 50px;
    right: 0;
    top: 1px;
    opacity: 1;
    transition: all 0.5s ease;
    display: block;
    z-index: 1;
}
.themeFeature ul li{
  background:#48AE4A;
  padding:15px 20px;
  border-bottom:solid 1px #343B41;
  font-family:"Lato Bold";
  color:#343B41;
  cursor:pointer;
}
.themeFeature ul li.active{
  color:#f1c40f;
}


.companyLogo{
  text-align: center;
  margin-bottom: 10px;
  margin-right:10px;
}
.companyLogo img{
  display:inline-block;
  width:120px;
  height:120px;
}
.companyLogo h1{
  font-family: "Lato Black";
  color: #48AE4A;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 29px;
  margin-left: 15px;
}
/*========= INPUT =========*/
.searchBox{
  width:100%;
}
.searchBox:after{
  content: "";
  clear: both;
  display: table;
}
.inputSearchWrap{
  width:90%;
  float:left;
  overflow:hidden;
}
.searchLogoWrap{
  width:10%;
  float:left;
  background-color:#009443;
  height:53px;
  position:relative;
  cursor:pointer;
}
.searchInput{
  width:100%;
  margin:0;
  padding-left:15px;
  font-size:20px;
  border:none;
  height: 45px;
  border:solid 3px #009443;
  font-family: "Lato Bold";
  color:#4a4a4a;
}
.searchLogo{
  position:absolute;
  margin:auto;
  top:0;bottom:0;left:0;right:0;
}
/*========= OUTPUT =========*/
ul.searchResult{
  display:block;
  width:100%;
}
ul.searchResult li{
  background:#ccc;
  height:40px;
  line-height: 40px;
  vertical-align: middle;
  border-bottom:solid 1px #333;
  padding-left:15px;
}
/*======================= CONTENT =======================*/
/*========= LAYOUT =========*/
.contentWrap{
  width:100%;
  padding-top: 20px;
}
.wrapperLoad{
  text-align:center;
}
.wrapperLoad img{
  text-align:center;
  width:160px;
}
.gifBoxWrap{
  width:100%;
  background-color:#343B41;
  padding-top:20px;
}
.gifBoxWrap:after{
  content: "";
  clear: both;
  display: table;
}
.gifBoxColumn{
  width:24%;
  margin:0 1.3% 1.3% 0;
  background-color:#343B41;
  float:left;
}
.gifBoxColumn.lastColumn{
  margin-right:0;
}
.gifBox{
  width:24%;
  background-color:#c0392b;
  float:left;
}
.imgWrap{
  margin-bottom:12px;
}
ul.paginationBox{
  margin:11px 0;
  text-align: center;
}
ul.paginationBox li{
    width: 10px;
    padding: 10px 15px 10px 20px;
    background: #f1c40f;
    color: #343B41;
    border: solid 1px;
    display: inline;
    cursor:pointer;
}
ul.paginationBox .nonBorderLeft{
  border-left:none !important;
}
ul.paginationBox li.active{
  background:#343B41;
  color:#333;
  border:solid 1px #343B41;
}
.centerAbsoluteImage{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.imgPause img{
  width:42px;
  height:42px;
}
/*======================= FOOTER =======================*/
.footer{
  margin-top:30px;
  padding:20px 0;
  /*background:#48AE4A;*/
}
.footerText{
  text-align:center;
  font-size:20px;
  /*color:#343B41;*/
  color:#4a4a4a;
  font-family:"Lato Regular";
}